<footer class="bg-white w-full flex py-4">
  <div class="flex items-center w-full justify-around text-[14px]">
    <div class="flex items-center">
      <img
        src="assets\Img\casa.png"
        class="w-4 h-4"
        alt="Casa Rural Fundanal"
      />
      <h1 class="ml-2">Casa Rural Fundanal</h1>
    </div>

    <div class="flex">
      <a href="https://www.instagram.com/casarural_hozdejaca/"
        ><img src="assets\Img\logotipo-de-instagram.png" class="w-4 h-4" alt=""
      /></a>
      <a href="#" class="ml-2"
        ><img src="assets\Img\logo_booking.png" class="w-4 h-4" alt=""
      /></a>
    </div>
  </div>
</footer>
