<footer class="bg-principal2 w-full flex py-2">
  <div class="flex items-center w-1/2 mx-auto justify-between text-[14px]">
    <div class="flex items-center">
      <img
        src="assets\Img\casa.png"
        class="w-4 h-4"
        alt="Casa Rural Fundanal"
      />
      <h1 class="ml-2 tracking-wider">Casa Rural Fundanal</h1>
    </div>

    <div class="flex">
      <a href="https://www.instagram.com/casarural_hozdejaca/"
        ><img src="assets\Img\logotipo-de-instagram.png" class="w-4 h-4" alt=""
      /></a>
      <a href="#" class="ml-2"
        ><img src="assets\Img\logo_booking.png" class="w-4 h-4" alt=""
      /></a>
      <a href="#" class="ml-2"
        ><img src="assets\Img\airbnb.png" class="w-4 h-4" alt=""
      /></a>
    </div>
  </div>
</footer>
