<nav class="py-6 relativ bg-principal2 text-letra font-montserrat font-thin">
  <!-- bg-[#c8bdb4] -->
  <div class="w-3/6 mx-auto">
    <div class="text-lg flex flex-row items-center justify-center">
      <div>
        <a href="#" class="border-t-[3px] border-fondo2 py-1">INICIO</a>
        <a
          href="#"
          class="border-t border-fondo2 py-1 ml-5 hover:border-t-[3px]"
          >LA CASA</a
        >
        <a
          href="#"
          class="border-t border-fondo2 py-1 ml-5 hover:border-t-[3px]"
          >TARIFAS Y DISPONIBILIDAD</a
        >
        <a
          href="#"
          class="border-t border-fondo2 py-1 ml-5 hover:border-t-[3px]"
          >CONTACTO</a
        >
      </div>
      <!-- <div
          class="px-3 py-1 border border-black w-24 absolute right-10 flex justify-between items-center"
        >
          <h1>ES</h1>
          <img src="Img/flecha-abajo.png" class="object-fit h-4 w-4" alt="" />
        </div> -->

      <div
        class="group w-24 absolute top-2 right-10 flex flex-col items-center"
      >
        <button
          class="outline-none border px-3 py-1 border-fondo2 focus:outline-none flex items-center justify-between w-full"
        >
          <span class="">ES</span>
          <span>
            <img
              class="fill-current object-fit h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
              src="assets\Img\flecha-abajo.png"
            />
          </span>
        </button>
        <ul
          id=""
          class="border border-t-0 border-fondo2 w-24 px-3 py-1 transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out"
        >
          <li id="" class=""><a href="">EN</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
