<nav
  class="py-6 px-5 bg-principal2 font-montserrat flex justify-between items-center relative"
>
  <a href="#" class="text-xl font-normal">Casa Fundanal</a>

  <!-- Botón del menú en tamaño móvil -->
  <button (click)="toggleMenu()" class="block sm:hidden focus:outline-none">
    <img src="assets/Img/Iconos/menu.png" alt="Menu" class="h-6 w-6" />
  </button>

  <!-- Menú para pantallas grandes -->
  <div class="hidden sm:flex">
    <div class="text-sm lg:text-base flex items-center">
      <div>
        <a routerLink="/" class="py-1 ml-5">INICIO</a>
        <a routerLink="/casa-principal" class="py-1 ml-5">LA PRINCIPAL</a>
        <a routerLink="/casa-atico" class="py-1 ml-5">ÁTICO DUPLEX</a>
      </div>
      <div class="group flex flex-col ml-5">
        <button
          class="outline-none border px-3 py-1 border-fondo2 flex items-center justify-between w-full"
        >
          <span>ES</span>
          <span>
            <img
              class="fill-current object-fit h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
              src="assets/Img/flecha-abajo.png"
            />
          </span>
        </button>
        <ul
          class="absolute top-[58px] z-0 border border-t-0 border-fondo2 w-24 px-3 py-1 transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out"
        >
          <li><a href="">EN</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Menú deslizable en tamaño móvil -->
  @if(isMenuOpen){
  <div class="fixed inset-0 z-50 flex">
    <div class="bg-black bg-opacity-50 flex-grow" (click)="closeMenu()"></div>
    <div class="bg-principal2 h-full flex flex-col p-4">
      <button (click)="toggleMenu()" class="self-end mb-4 focus:outline-none">
        <img src="assets/Img/Iconos/x.png" alt="Close" class="h-6 w-6" />
      </button>
      <a routerLink="/" class="py-1" (click)="closeMenu()">INICIO</a>
      <a routerLink="/casa-principal" class="py-1" (click)="closeMenu()"
        >LA PRINCIPAL</a
      >
      <a routerLink="/casa-atico" class="py-1" (click)="closeMenu()"
        >ÁTICO DUPLEX</a
      >
    </div>
  </div>
  }
</nav>
