<nav
  class="py-6 relativ bg-principal2 font-montserrat flex justify-around items-center"
>
  <a href="#" class="text-xl font-normal">La Casa Fundanal</a>
  <!-- bg-[#c8bdb4] -->
  <div class="">
    <div class="text-md flex flex-row items-center">
      <div>
        <a routerLink="/" class="py-1">INICIO</a>
        <a routerLink="/casa-principal" class="py-1 ml-5">LA PRINCIPAL</a>
        <a routerLink="/casa-atico" class="py-1 ml-5">ÁTICO DUPLEX</a>
        <a routerLink="/about-us" class="py-1 mx-5">CONTÁCTANOS</a>
      </div>

      <div class="group flex w-24 flex-col">
        <button
          class="outline-none border px-3 py-1 border-fondo2 focus:outline-none flex items-center justify-between w-full"
        >
          <span class="">ES</span>
          <span>
            <img
              class="fill-current object-fit h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
              src="assets\Img\flecha-abajo.png"
            />
          </span>
        </button>
        <ul
          id=""
          class="absolute top-[58px] z-0 border border-t-0 border-fondo2 w-24 px-3 py-1 transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out"
        >
          <li id="" class=""><a href="">EN</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
