<div class="bg-fondo2 font-montserrat">
  <app-nav-bar />

  <div class="w-full text-center">
    <h1 class="mt-16 text-5xl text-principal1 tracking-wider">
      CASA RURAL FUNDANAL
    </h1>
  </div>

  <div class="mt-16 flex">
    <div class="w-full">
      <img
        src="assets/Img/FotoPrincipal2.jpg"
        class="w-[900px] h-[700px] object-fit ml-72 rounded-lg"
        alt=""
      />

      <div
        class="absolute bg-principal2 py-10 px-14 right-[350px] top-[300px] rounded-lg"
      >
        <h1 class="text-letra text-2xl mb-4">UN HOGAR EN HOZ DE JACA</h1>
        <p class="w-[360px] text-letra">
          I-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
          impedit maiores molestiae mollitia atque harum, repellat accusantium
          id. Praesentium nesciunt excepturi asperiores esse facere quam
          perferendis repellendus earum saepe distinctio!
        </p>
        <div
          class="bg-fondo2 px-2 py-1 w-36 mt-64 text-[#645e5a] hover:bg-[#645e5a] hover:text-letra rounded"
        >
          <h3 class="text-center">RESERVAR</h3>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full mt-10 bg-principal2 px-80 py-20 text-letra flex font-sans font-thin"
  >
    <div class="flex flex-col">
      <div>
        <h1 class="text-lg">UN DESCANSO EN LA NATURALEZA</h1>
        <p class="mt-4">
          Apartamento precioso, con mucho encanto y unas vistas preciosas en
          plena naturaleza.
        </p>
        <p class="mt-4">/Carmen Fructuoso</p>
      </div>
      <div class="mt-24">
        <h1 class="text-lg">UN DESCANSO EN LA NATURALEZA</h1>
        <p class="mt-4">
          Apartamento precioso, con mucho encanto y unas vistas preciosas en
          plena naturaleza.
        </p>
        <p class="mt-4">/Carmen Fructuoso</p>
      </div>
    </div>
    <div class="flex flex-col ml-16">
      <div>
        <h1 class="text-lg">UN DESCANSO EN LA NATURALEZA</h1>
        <p class="mt-4">
          Apartamento precioso, con mucho encanto y unas vistas preciosas en
          plena naturaleza.
        </p>
        <p class="mt-4">/Carmen Fructuoso</p>
      </div>
      <div class="mt-24">
        <h1 class="text-lg">UN DESCANSO EN LA NATURALEZA</h1>
        <p class="mt-4">
          Apartamento precioso, con mucho encanto y unas vistas preciosas en
          plena naturaleza.
        </p>
        <p class="mt-4">/Carmen Fructuoso</p>
      </div>
    </div>
  </div>

  <div class="flex pt-16 w-full justify-center pb-10">
    <div class="w-1/3 h-[400px]">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11730.203074020192!2d-0.3045666!3d42.6920574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd578d92d3185a0f%3A0xeb411e0261f4c03b!2sCasa%20Rural%20Fundanal!5e0!3m2!1ses!2ses!4v1678896693172!5m2!1ses!2ses"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div
      class="w-1/3 ml-10 text-center text-principal1 py-10 font-sans text-lg"
    >
      <h1>
        La Casa Rural Fundanal está ubicada en el pueblo de Hoz de Jaca, en el
        corazón del valle de Tena.
      </h1>

      <p class="py-10">Calle Fundanal 4, 22662, Hoz de Jaca, Aragón.</p>

      <p class="mt-20 text-principal1">
        ¿Tienes alguna pregunta? Llámanos al: (+34) 608 578 001
      </p>
    </div>
  </div>
</div>
<app-footer class="w-full bg-principal2 mt-10" />
