<div class="bg-white font-montserrat mx-auto">
  <!-- max-w-[1920px] -->
  <div class="flex flex-col">
    <div class="w-full flex flex-col justify-center relative">
      <img
        src="assets/Img/PaginaNueva/Principal.jpeg"
        class="w-full object-fit"
        alt=""
      />

      <div
        class="text-white absolute w-5/12 min-[1318px]:w-1/3 top-1/4 min-[1441px]:top-1/3 left-44 xl:left-56 text-base lg:text-xl"
      >
        <h1
          class="border-b-2 text-xl lg:text-3xl min-[1441px]:text-5xl pb-2 mb-4 inline-block"
        >
          UN HOGAR EN HOZ DE JACA
        </h1>
        <p class="mb-4 w-11/12">
          El mejor sitio para descansar y disfrutar de la naturaleza con tus
          familiares y amigos
        </p>
        <button class="bg-transparent border px-3 py-2">RERSERVA AHORA</button>
      </div>
    </div>

    <div class="w-full flex flex-col justify-center relative">
      <img
        src="assets/Img/PaginaNueva/Principal2.jpeg"
        class="w-full object-fit"
        alt=""
      />

      <div
        class="card w-3/4 bg-white absolute top-[-150px] left-0 flex py-12 lg:py-12 xl:py-24 min-[1441px]:py-36"
      >
        <p-carousel
          [value]="reviews"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          [autoplayInterval]="5000"
          class="w-full"
        >
          <ng-template let-review pTemplate="item">
            <div class="text-center py-5 w-3/4 mx-auto">
              <h3 class="mb-8 text-2xl lg:text-3xl min-[1441px]:text-4xl">
                "{{ review.titulo }}"
              </h3>
              <h4
                class="mt-0 mb-5 text-base lg:text-xl min-[1441px]:text-2xl text-[#606060]"
              >
                {{ review.descripcion }}
              </h4>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!-- Carousel -->
    </div>

    <div class="w-full bg-[#EAEAEA] py-10">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-10/12 mx-auto">
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto2_recorte.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto1.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto3.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto4Duda.jpeg"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto7.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto6.jpeg"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto5.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full"
              src="assets/Img/PaginaNueva/CollagePrincipal/foto8.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- <div
      class="flex flex-col p-10 text-center text-[#575757] text-2xl xl:text-3xl 2xl:text-4xl"
    >
      <h2
        class="border-b-2 text-[#575757] border-[#a8a8a8] mb-8 px-10 py-3 max-w-[1400px] text-center mx-auto text-3xl xl:text-4xl"
      >
        DISFRUTA DE LAS POSIBILIDADES DEL ENTORNO
      </h2>
      <div class="flex flex-wrap mt-10 justify-center gap-16 2xl:gap-36">
        <div>
          <img
            src="assets/Img/PaginaNueva/Kayak.jpg"
            alt="Imagen de comida 1"
            class="w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px] object-cover"
          />
          <h4 class="mt-8">Disfruta en Kayak</h4>
        </div>

        <div>
          <img
            src="assets/Img/PaginaNueva/Senderismo.jpg"
            alt="Imagen de comida 2"
            class="w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px] object-cover"
          />
          <h4 class="mt-8">Rutas inolvidables</h4>
        </div>
        <div>
          <img
            src="assets/Img/PaginaNueva/Gastronomia.jpg"
            alt="Imagen de comida
        3"
            class="w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px] object-cover"
          />
          <h4 class="mt-8">Grastonomía</h4>
        </div>
      </div>
    </div> -->
    <div
      class="flex flex-col p-10 text-center text-[#575757] text-2xl xl:text-3xl 2xl:text-4xl mb-14"
    >
      <h2
        class="border-b-2 text-[#575757] border-[#a8a8a8] mb-8 px-10 py-3 max-w-[1400px] text-center mx-auto text-3xl xl:text-4xl"
      >
        DISFRUTA DE LAS POSIBILIDADES DEL ENTORNO
      </h2>
      <div class="flex flex-wrap justify-center gap-16 2xl:gap-36">
        <div
          class="relative group w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px]"
        >
          <img
            src="assets/Img/PaginaNueva/Kayak.jpg"
            alt="Disfruta en Kayak"
            class="w-full h-full object-cover transition-transform duration-300 transform"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-300"
          >
            <p class="text-white text-lg xl:text-xl 2xl:text-2xl">
              Disfruta de actividades en Kayak
            </p>
          </div>
          <h4 class="mt-8 text-center">Actividades</h4>
        </div>
        <div
          class="relative group w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px]"
        >
          <img
            src="assets/Img/PaginaNueva/Senderismo.jpg"
            alt="Rutas inolvidables"
            class="w-full h-full object-cover transition-transform duration-300 transform"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-300"
          >
            <p class="text-white text-lg xl:text-xl 2xl:text-2xl">
              Explora rutas inolvidables
            </p>
          </div>
          <h4 class="mt-8 text-center">Rutas inolvidables</h4>
        </div>
        <div
          class="relative group w-[250px] h-[341px] xl:w-[340px] xl:h-[464px] 2xl:w-[422px] 2xl:h-[577px]"
        >
          <img
            src="assets/Img/PaginaNueva/Gastronomia.jpg"
            alt="Gastronomía"
            class="w-full h-full object-cover transition-transform duration-300 transform"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-300"
          >
            <p class="text-white text-lg xl:text-xl 2xl:text-2xl">
              Disfruta de la gastronomía local
            </p>
          </div>
          <h4 class="mt-8 text-center">Gastronomía</h4>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row pt-16 w-full justify-center items-center bg-[#EAEAEA] pb-10 lg:pb-20 mx-auto"
    >
      <div class="w-1/3 text-base xl:text-xl pr-10">
        <h1
          class="text-2xl xl:text-4xl border-b-2 text-[#575757] border-[#a8a8a8] xl:pb-8 mb-8"
        >
          ¿DÓNDE ESTAMOS?
        </h1>
        <h2 class="text-[#606060]">
          La Casa Rural Fundanal está ubicada en el pueblo de Hoz de Jaca, en el
          corazón del valle de Tena.
        </h2>

        <p class="text-[#606060] mt-8">
          Calle Fundanal 4, 22662, Hoz de Jaca, Aragón.
        </p>

        <p class="text-[#606060] mt-8">
          ¿Tienes alguna pregunta? Llámanos al: (+34) 608 578 001 o contacta con
          {{ "casafundanal@gmail.com" }}
        </p>
      </div>

      <div class="h-[400px]">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93841.66921076598!2d-0.3869673472368196!3d42.692027869627154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd578d92d3185a0f%3A0xeb411e0261f4c03b!2sCasa%20Rural%20Fundanal!5e0!3m2!1ses!2ses!4v1710276895849!5m2!1ses!2ses"
          class="w-[450px] h-[337px] lg:w-[520px] lg:h-[390px] xl:w-[600px] xl:h-[450px]"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
